# Virtual environments
.venv/
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db

# SQLite3 DB (optional)
*.sqlite3

# Node modules
node_modules/

# Tailwind build output? Optional
# If you want devs to rebuild, uncomment this
# static/css/output.css

# Django collectstatic (deployment only)
Project/staticfiles/
media/
